# update misc/jenkins/verify_target_framework_versions.sh if you change this
 framework: netcoreapp3.1

source https://api.nuget.org/v3/index.json
source ./built_packages

nuget CommandLineParser 2.8.0
