# update misc/jenkins/verify_target_framework_versions.sh if you change this
 framework: net46

source https://api.nuget.org/v3/index.json
source ./built_packages

nuget ZipStorer 2.38 framework: >= net45
nuget CommandLineParser 1.9.71
