<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NativeBinaryManager" version="0.1.0" targetFramework="net452" />
  <package id="NativeCodeBuilder" version="0.1.3" targetFramework="net452" />
  <package id="Stugo.Interop" version="0.2.0" targetFramework="net452" />
  <package id="ZipStorer" version="2.38" targetFramework="net452" />
</packages>